<generic-navbar
  brandLabel="TUP Arcade"
  [items]="navItems"
  [activeId]="activeNavId()"
  (itemClick)="onNav($event)"
>
  <div account class="who" [class.active]="onProfile()">
    <button type="button" class="who-id" (click)="go('/profile')">{{ displayName() }}</button>
    <generic-dropdown label="" [items]="accountItems" align="right" (itemSelect)="onAccount($event)" />
  </div>
</generic-navbar>

<div class="page-head">
  <generic-breadcrumb [items]="crumbItems()" (itemClick)="onCrumb($event)" />
</div>

<main class="main">
  <router-outlet />
</main>

<app-site-footer />
